@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #CEDBCC;
  color: #426262;
  padding: 20px;
  text-align: center;
}

h1, h3 {
  font-family: helvetica;
  color: #3A8F87;
}

h2 {
  font-family: 'caveat';
  color: #3A8F87;
}

img {
  width: 200px;
  border-radius: 150px;
  margin: 15px auto;
}

li {
  display: inline-block;
  margin: 0px 10px;
}

a {
  text-decoration: none;
  color: #42A3EA;
  font-family: helvetica;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease;
}

.container {
  width: 960px;
  margin: 20px auto;
}

.card {
  background-color: #F4F7F3;
  padding: 70px;
  width: 700px auto;
  margin: 25px auto;
  border-radius: 2%;
  border: 1px solid #EAEAEA;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

a:hover {
  color: #188BDC;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 720px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
  }
}
